.principal{
    width: 100%;    
    margin-top: 100px; 
    height: 950px;   
    background-color: #D5FAFC;
    background-size: cover;    
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    

}
.container1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end
}


.container1>img{
    width: 142px;
    height: 116px;
    margin-top: 60px;
    margin-left: 120px;
    opacity: 30%;
    position: absolute;

}

.titulo{
    position: relative;
    margin-left: 230px;    
    padding-top: 120px;
    width: 100%;
}

.titulo h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
    color: #111827; 
   
}

.titulo p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #111827;
}
.depoimento{
    display: flex;
    justify-content: end;
    margin-top: 150px;
}
.depo1{
    width: 384px;
    height: 396px;    
    background-color: #fff;
    margin-top: 64px;    
    border-radius: 8px;
    align-self: flex-end;
}
.lg1{
    padding: 25px;
    position: relative;
}
.depo1 p{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #111827;
    padding:  3px 35px;
}

.icoDepo{
    padding-top: 3px;
    position: absolute;
    margin-left: -5px;
}

.depo1 > .descri{
    margin-left: 37px;
    margin-top: 24px;
}
.depo1 > .descri h4{
    margin-left: 10px;
}
.descri p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;
    margin-left: -25px;
}

.container2{
    width: 50%;
    display: flex;    
    flex-direction: column;
    margin-left: 32px;
    margin-top: 300px;
    border-radius: 8px;
    margin-right: 100px;
}

.depo2{
    border-radius: 8px;
    width: 488px;
    height: 312px;
    background-color: #fff;
    margin-bottom: 32px;
}
.depo2 > .descri {
    margin-left: 45px;
    margin-top: 15px;

}
.depo2 > p{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #111827;
    padding:  3px 35px;

}
.depo2 .descri p{
    padding-left: 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;

}

.depo3{
    border-radius: 8px;
    width: 384px;
    height: 256px;
    background-color: #fff;
}

.depo3 > p{
    
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #111827;
    padding:  3px 35px;
}
.depo3 > .descri{
    margin-left: 48px;
}
.depo3 .descri p{
    padding-left: 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;

}